
{{!-- <p>Welcome to Nomad</p> --}}
<head>
        <link rel="stylesheet" type="text/css" href="../css/index.css">
</head>
    <div class="container">
       <div class="row text-center call-to-action">
        <h1 style="color:white" class="page-header">Nomad</h>
      <h2 style="color:white">Find the perfect accommodation</h2>
        <div class="btn-group">
          <form id="filterForm" method="get" class="form-inline" action="/listings_filter">
            <div class="form-group">
              <div class="col-xs-5 date">
                <div class="input-group input-append date" id="datePicker">
                  <input type="date" class="form-control" name="filter_date" require/>
                </div>
              </div>
            </div>
          <div class="form-group">
            <div class="col-xs-5 col-xs-offset-3">
              <button type="submit" class="btn btn-default">Look for an available listing</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>