<h2 class="page-header">Dashboard</h2>
<p>Welcome to Nomad</p>
{{#if user.isLord}}

<li><a href="/home/add-room">Landlord - Add a room</a></li>
<li><a href="/home/edit-room">Landlord - Edit room(s)</a></li>
<li><a href="/home/edit-room">Landlord - Delete rooms</a></li>
<li><a href="/home/edit-room">Landlord - Delete account</a></li>
<li><a href="/home/availrooms">Landlord-   Browse availble rooms</a></li>
<li><a href="/home/edit-room">landlord -   Delete account</a></li>
{{else}}
<li><a href="/home/add-room">Tenant - Add a room</a></li>
<li><a href="/home/edit-room">Tenant - Edit room(s)</a></li>
<li><a href="/home/edit-room">Tenant - Delete rooms</a></li>
<li><a href="/home/edit-room">Tenant - Delete account</a></li>
<li><a href="/home/availrooms">Tenant -   Browse availble rooms</a></li>
<li><a href="/home/edit-room">Tenant -   Delete account</a></li>
{{/if}}