<h2 style="color:white;"" class="page-header">Dashboard</h2>
<p style="color:white; text-align:center;">Welcome to Nomad</p>
{{#if user.isLord}}

<li><a href="/home/add-room">Landlord - Add a room.</a></li>
<li><a href="/home/edit-room">Landlord - Make an edit.</a></li> {{!-- <li><a href="/home/edit-room">Landlord - Delete rooms</a></li> --}}
<li><a href="/home/availrooms">Landlord- Browse available rooms.</a></li>
<li><a href="/home/edit-room">landlord - Delete your account.</a></li>
{{else}}
<li><a href="/home/add-room">Tenant - Add a room.</a></li>
<li><a href="/home/edit-room">Tenant - Delete account.</a></li>
<li><a href="/home/availrooms">Tenant - Browse available rooms.</a></li>
{{/if}}